

html{
  /**this defines what 1 rem should be. normally, 1rem=16px so therefore for 1rem to be 10px for ease, the body font size = 10/16 *100 for a percentage*/
  display: 62.5%;
}
body{
  box-sizing: border-box;
  font-family: "Playwrite HR Lijeva", cursive;
  
  
}


header{
    height: 95vh;
    
    background-image: linear-gradient(
              to right bottom,
              rgba(255, 190, 152, 0.3),
              rgba(214, 189, 152, 0.7)
              ),
              url(../img/cat2.jpg);
   background-size: cover;
    background-position: top;
    position: relative;
}
  .profile_photo{
    height: 4.5rem;
    transition: transform .3s;

  }
  .profile_photo:hover{
    transform: scale(1.2);
    backface-visibility: hidden;
  }

  .profile_photo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  .heading{
    
    text-transform: uppercase;
    text-align: center;
    color: #1A3636;
    
   
  }

  .heading_h1{
    font-weight: 500;
    font-size: 6rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -80%);
    
  }

  .heading_text{
    font-size: 1.6rem;
    position: absolute;
    top: 55%;
    left: 20%;

  }


  .about{
    background-size: auto;
    background-color: #677D6A;
    height: 75vh;
    color: #132727;
  
  }

  .about_title{
    font-weight: 300;
    font-size: 3rem;
    margin: 0 auto;
    padding-top: 6rem;
    text-align: center;
  }

  .about_hr{
    border-style: dotted none none none;
    border-color: #D6BD98;
    border-width: 5px;
    width: 50%;
    margin-bottom: 2rem;

}
  
  .about_row{
    display: flex;
    margin: 2rem;
  }

  .about_img{
   
    width: 12rem;
    margin-top: -2rem;
    padding-left: 3rem;
   
   
  }
  .about_text{
    text-align: left;
    margin: auto;
    width:fit-content;
    margin-top: -0.5rem;
    padding-left: 2rem;
    font-size: 1.4rem;
  }

 .images{
  height: 95vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-size: auto;
  background-color: #D6BD98;
  color:  #677D6A;
  display: grid;
  place-content: center;
 
 }

 .img_title{
  font-weight: 300;
  font-size: 3rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: center;
}
  .img_container{
    position: relative;
     display: flex;
     width: calc(100*3);
     overflow : hidden;
     justify-content: end;
     animation-delay: 0.1s;
    animation: scroll 10s linear infinite;
    
   
  }

  .img{
    display: flex;
    flex: 1 0 16.66%;
    justify-content: center;
    align-items: center;
    transition: transform .01s;

   width: 20rem;
   background-size: contain;
   margin: 1rem;
  
   
  }
  .img:hover{
    transform: scale(1.05);
  }
  
  
@keyframes scroll{
0%{
  transform: translateX(0);
}

100%{
  transform: translateX(-100%);
}
}
  .img_hr{
    border-style: dotted none none none;
    border-color: #132727;;
    border-width: 5px;
    width: 30%;
    margin-bottom: 2.5rem;

  }

  .footer{
    background-size: auto;
    background-color: #132727;
    margin-top: -2rem;
    height: 95vh;
    color: #D6BD98;

  }

  .footer_row{
    display: flex;
    margin: 0 2rem 6rem 2rem;
    padding-top: 3.5rem;
    
  }
  .footer_title{
    font-weight: 300;
    font-size: 3rem;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
  }
  .footer_hr{
    border-style: dotted none none none;
    border-color: #D6BD98;
    border-width: 5px;
    width: 40%;
    

  }
  .footer_img{
    width: 35%;
    padding-left: 3rem;

  }
  .footer_text{
    text-align: left;
    margin: auto;
    width:50%;
    margin-top: -0.5rem;
    padding-left: 2rem;
    font-size: 1.4rem;
  }